{% extends "recipes/layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block body %}
    <!--Reset Password-->
	<div>
  	 	<h1 class="space-top">Reset Password</h1>
		<hr>
		<p class="form-text form-text-center">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form method="POST" class="access">
            {% csrf_token %}
            {{ password_reset_form }}                    
            <button class="btn-form" type="submit">Send email</button>
        </form>
  	</div> 

{% endblock %}