{% extends "recipes/layout.html" %}

{% block title %}
    Reset Password Confirm
{% endblock %}

{% block body %}
     <!--Password Reset Confirm-->
	    <h1 class="space-top">Password Reset Confirm</h1>
		<hr>
        {% if form %}
        <p class="form-text form-text-center">Please enter your new password.</p>
        <form class="access" method="POST">
            {% csrf_token %}
            {{ form }}                    
            <button class="btn-form" type="submit">Reset password</button>
        </form>
        {% else %}
        <p class="form-text form-text-center">This link is expired</p>
        <br>
        <a href="{% url 'login' %}" class="btn-form space-top btn-reset">Log in</a>
        {% endif %}
    </div>

{% endblock %}