{% extends "recipes/layout.html" %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block head %}
    <!-- JavaScript -->
    <script src="{% static 'js/index.js' %}"></script>
    {{ request.user.id | json_script:"user_id"}}
    {{ request.user.username | json_script:"username"}}



{% endblock %}

{% block body %}
    {% if page_obj %}
        <div class="card-structure" id="title-container">
            <h1 class="card-title">{{ title }}</h1>
        </div>
    {% endif %}

    {% for recipe in page_obj %}
        <div class="card-structure" id="card-{{ recipe.id }}">
            <h2>{{ recipe.name }}</h2>
            <p class="card-date"><small>Added: {{ recipe.date }}</small></p>
            <img class="card-img" src="{{ recipe.imageURL }}" alt="photo of {{ recipe.name }}">
            <p>{{ recipe.description}}</p>
            <div class="card-time">
                <p class="card-time-text">Serving: {{ recipe.serving }}</p>
                <p class="card-time-text">Preparation: {{ recipe.preparation_time }}</p>
                <p class="card-time-text">Cooking: {{ recipe.cooking_time }}</p>
            </div>
            {% if user.is_authenticated %}
                <div class="card-footer">
                    <button class="btn-card btn-card-follow" data-id="{{ recipe.id }}">Follow</button>
                    <button id="btn-recipe-{{ recipe.id }}" class="btn-card btn-card-recipe" data-id="{{ recipe.id }}">Recipe</button>
                </div>
                <button class="btn-card btn-card-comment" data-id="{{ recipe.id }}">Comment</button>
            {% endif %}
            <div id="recipe-{{ recipe.id }}"></div>
            <div id="comment-recipe-{{ recipe.id }}" class="initial-status">
                <div class="add-comment" id="add-comment-{{ recipe.id }}">
                    <form method="POST" class="comments-container">
                        {% csrf_token %}
                        <input type="text" placeholder="Title" id="add-comment-title-{{ recipe.id }}" maxlength="255" required />
                        <textarea rows="10" cols="40" placeholder="Write your comment..." id="add-comment-body-{{ recipe.id }}"></textarea>
                        <button class="btn-card btn-card-add-comment" data-id="{{ recipe.id }}" type="submit">Add Comment</button>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if page_obj %}
        <div class="pagination" id="pagination-container">
            <span>
                {% if page_obj.has_previous %}
                    <a class="pagination-link" href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-arrow-left"></i></a>
                {% endif %}

                <span class="pagination-current">
                    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                </span>
                {% if page_obj.has_next %}
                    <a class="pagination-link" href="?page={{ page_obj.next_page_number }}"><i class="fas fa-arrow-right"></i></a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}
