<!DOCTYPE html>
{% load static %}
{% load cache %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>Recipes - {% block title %}{% endblock %}</title>

        <!-- JavaScript -->
        <script src="{% static 'js/main.js' %}"></script>

        <!-- FavIcon -->
        <link rel="shortcut icon" href="{% static 'img/favicon/favicon.ico' %}" type="image/x-icon">

        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">

        <!-- Font Awsome Icons -->
        <script src="https://kit.fontawesome.com/a226c5290f.js" crossorigin="anonymous"></script>

        <!-- Google Font: Noto Sans -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">

        {% block head %}{% endblock %}
    </head>

    <body>
        
        <nav class="navbar">
            <img src="{% static 'img/navbar/avocado_192x192.png' %}" alt="avocado" class="navbar-img nav-item" />
            <ul class="nav-list">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user' %}" id="user">{{ user.username | capfirst }}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}" id="all_recipes">All Recipes</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'favorites' %}" id="favorite_recipes">Favorite Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'shopping_list' %}" id="shopping_list">Shopping List</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
            <button class="hamburger nav-item">
                <span class="hamburger-open">
                    <i class="fas fa-bars"></i>
                </span>
                <span class="hamburger-close">
                    <i class="fas fa-times"></i>
                </span>
                <span class="hamburger-name">Menu</span>
            </button>
        </nav>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p id="message" class="message-{{ message.tags }}">{{ message }}
                        <button id="btn-message" class="btn-message-{{ message.tags }}">OK</button>
                    </p>
                {% endfor %}
            </div>
        {% endif %}

        {% block body %}{% endblock %}

    </body>
</html>
