{% extends "recipes/layout.html"%}

{% block title %}
    Login
{% endblock %}

{% block body %}
    <form class="access">
        <h1>Login</h1>
        <fieldset>
            <legend>Your Information</legend>
            {% csrf_token %}
            {{ login_form }}
        </fieldset>
        <button class="btn-form" type="submit">Login</button>
        <p class="form-text">Not registered yet? <a class="form-link" href="{% url 'register' %}">Click here to register</a></p>
        <p class="form-text">Forgot password? <a class="form-link" href="#">Click here to recover it</a></p>
    </form>

{% endblock %}