/*
INDEX

1. Reset
2. Color Palette
3. Fonts
4. Background
5. NavBar
6. Forms
7. Messages
8. Card
9. Pagination
10. Ingredients
11. Preparation steps
12. Comments
13. Shopping list
14. User page
15. Responsive
*/

/* 1. Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

/* 2. Color Palette */
:root {
    --black: #000000;
    --white: #ffffff;
    --light-grey: #D0D9CD;
    --grey: #B2BEB5;
    --green: #3E721D;
    --light-green: #A6D388;
    --light-green-1: #C6E5B3;
    --brown: #662113;
    --light-brown: #EBB591;
}

/* 3. Fonts */
:root {
    --font-family: 'Noto Sans';
    --font-large: 1.5rem;
    --font-normal: 1.1rem;
    --font-small: 1rem;
}

/* 4. Background */
body {
    color: var(--black);
    background-color: var(--white);
    font-family: var(--font-family), sans-serif;
}

/* 5. NavBar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: center;
    max-height: 4rem;
    padding: 0.5rem;
    background-color: var(--light-grey);
    box-shadow: 10px 5px 50px rgba(0, 0, 0, 0.2);
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    list-style: none;
}

.nav-item {
    outline: var(--green);
    padding: 0.5rem;
    margin: 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: var(--green);
    font-weight: 700;
    font-size: var(--font-normal);
}

.navbar-img {
    max-width: 3rem;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--brown);
}

.hamburger {
    display: none;
}

.hamburger-name {
    color: transparent;
    font-size: 0;
    position: relative;
    z-index: -99;
}

/* 6. Forms */
form.access {
    max-width: 25rem;
    margin: 4rem auto;
    padding: 1rem 1rem;
    background-color: var(--light-grey);
    border: 1px solid var(--green);
    border-radius: 8px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0 0 1rem 0;
    text-align: center;
    color: var(--green);
}

h1.space-top {
    margin-top: 2rem;
}

.helptext ul,
ul.errorlist {
    list-style: none;
}

.helptext ul li,
ul.errorlist li {
    color: var(--green);
    padding: 1rem;
}

.form-link {
    color: var(--green);
    font-weight: 700;
    text-decoration: none;
}

.form-link:hover,
.form-link:focus {
    color: var(--brown);
}

.form-text {
    color: var(--green);
}

.form-text-center {
    text-align: center;
}

fieldset {
    color: var(--green);
    border: 1px solid var(--green);
    padding: 1rem;
    font-weight: 700;
    border: none;
}

label {
    color: var(--green);
    padding: 0.5rem;
    font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"],
textarea {
    border: none;
    font-size: var(--font-normal);
    height: auto;
    margin: 0;
    padding: 1rem;
    width: 100%;
    background-color: var(--grey);
    font-weight: 700;
    color: var(--brown);
    box-shadow: 0 1px 0 rgb(0,0,0,0.3) inset;
    margin-bottom: 1rem;
}

input:focus,
input:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid var(--brown);
}

.btn-reset {
    display: block;
    margin: 2rem auto;
    max-width: 8rem;
}

.btn-form {
    padding: 1rem 2rem 1rem 2rem;
    color: var(--green);
    background-color: var(--light-grey);
    font-size: var(--font-normal);
    text-align: center;
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--green);
    font-weight: 700;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 1rem;
}

.btn-form:hover,
.btn-form:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--green);
    background-color: var(--green);
    color: var(--light-grey);
}

/* 7. Messages */
.messages {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.message-success {
    color: var(--green);
    border: 4px solid var(--green);
    border-radius: 8px;
    font-weight: 700;
    padding: 1rem;
    background-color: var(--light-grey);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}

.btn-message-success {
    color: var(--green);
    border: none;
    font-weight: 700;
    margin-left: 1rem;
    background-color: var(--light-grey);
}

.btn-message-success:focus,
.btn-message-success:hover {
    color: var(--brown);

}

.message-error {
    color: var(--brown);
    border: 4px solid var(--brown);
    border-radius: 8px;
    font-weight: 700;
    padding: 1rem;
    background-color: var(--light-brown);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
}

.btn-message-error {
    color: var(--brown);
    border: none;
    font-weight: 700;
    margin-left: 1rem;
    background-color: var(--light-brown);
}

.btn-message-error:focus,
.btn-message-error:hover {
    color: var(--green);
}

/* 8. Card */
.card-structure {
    max-width: 35rem;
    margin: 4rem auto;
    padding: 1rem 1rem;
    background-color: var(--light-grey);
    border-radius: 8px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--green);
    text-align: center;
    color: var(--green);
    font-weight: 700;
}

.card-title {
    color: var(--green);
    padding: 0.5rem;
    margin: 0;
}

.card-img {
    max-width: 25rem;
    padding: 1rem;
}

.card-date {
    color: var(--brown);
}

.card-time,
.card-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 1rem;
}

.card-time-text {
    font-weight: 700;
}

.card-footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding: 1rem;
}

.btn-card {
    padding: 0.5rem;
    margin: 0.5rem;
    color: var(--green);
    background-color: var(--light-grey);
    font-size: var(--font-small);
    text-align: center;
    border-radius: 8px;
    width: 20%;
    border: 1px solid var(--green);
    font-weight: 700;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 1rem;
}

.btn-card:hover,
.btn-card:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--green);
    background-color: var(--green);
    color: var(--light-grey);
}

.card-link {
    color: var(--green);
    font-weight: 700;
    text-decoration: none;
    display: block;
}

.card-link:hover,
.card-link:focus {
    color: var(--brown);
}

/* 9. Pagination */
.pagination {
    max-width: 35rem;
    margin: 4rem auto;
    padding: 1rem 1rem;
    background-color: var(--light-grey);
    border-radius: 8px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--green);
    text-align: center;
    color: var(--green);
}

.pagination-current {
    font-weight: 700;
}

.pagination-link {
    color: var(--green);
    font-weight: 700;
    text-decoration: none;
}

.pagination-link:hover,
.pagination-link:focus {
    color: var(--brown);
}

/* 10. Ingredients */
ul.list-ingredients {
    list-style: none;
    margin: 0.5rem;
}

h3.title-recipe {
    font-weight: 700;
    padding: 0.5rem;
    color: var(--brown);
}

.btn-shop {
    padding: 0.5rem;
    margin: 0.5rem;
    color: var(--green);
    background-color: var(--light-grey);
    font-size: var(--font-small);
    text-align: center;
    border-radius: 8px;
    max-width: 20rem;
    border: 1px solid var(--green);
    font-weight: 700;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 1rem;
}

.btn-shop:hover,
.btn-shop:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--green);
    background-color: var(--green);
    color: var(--light-grey);
}

/* 11. Preparation */
.preparation-images {
    max-width: 25rem;
}

ul.list-preparation {
    list-style: none;
    margin: 0.5rem;
}

.preparation-text {
    padding: 0.5rem;
    text-align: start;
}

/* 12. Comments */
.text-comments {
    color: var(--brown);
    padding: 1rem;
}

.btn-comment {
    padding: 0.5rem;
    margin: 0 auto;
    color: var(--brown);
    display: block;
    font-size: var(--font-small);
    text-align: center;
    background-color: var(--light-grey);
    border: none;
    font-weight: 700;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

.btn-comment:hover,
.btn-comment:focus {
    background-color: var(--light-grey);
    color: var(--green);
}

div.initial-status {
    display: none;
}

/* 13. Shopping list */
.shopping-list-structure {
    max-width: 35rem;
    margin: 4rem auto;
    padding: 1rem 1rem;
    background-color: var(--light-grey);
    border-radius: 8px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--green);
    text-align: start;
    color: var(--green);
}

.shopping-list-title {
    text-align: center;
}

.btn-shopping-list {
    display: block;
    padding: 0.5rem;
    margin: 0.5rem auto;
    color: var(--green);
    background-color: var(--light-grey);
    font-size: var(--font-small);
    text-align: center;
    border-radius: 8px;
    width: 20%;
    border: 1px solid var(--green);
    font-weight: 700;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom: 1rem;
}

.btn-shopping-list:hover,
.btn-shopping-list:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    border: 1px solid var(--green);
    background-color: var(--green);
    color: var(--light-grey);
}

.ingredient-list {
    list-style: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  border: 0.1rem solid var(--green);
}

input[type="checkbox"]:checked + *::before {
  content: "\2713";
  color: var(--grey);
  text-align: center;
  background: var(--brown);
  border-color: var(--brown);
}

input[type="checkbox"]:checked + * {
  color: var(--brown);
  text-decoration: line-through;
}

/* 14. User page */
.user-image {
    width: 4rem;
    border-radius: 50%;
}

.user-link {
    text-decoration: none;
}

a.card-structure {
    margin-top: 1rem;
    font-weight: 700;
}

/* 15. Responsive */
@media only screen and (max-width: 1024px) {

    /* NavBar*/
    .navbar {
        justify-content: space-between;
    }

    .nav-list {
      display: none;
      background-color: var(--light-grey);
      border-radius: 0 0 0.5em 0.5em;
      text-align: center;
      width: 100vw;
      z-index: 2;
    }

    .nav-list.active {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 3.2rem;
      left: 0;
      border-bottom: 1px solid var(--green);
      box-shadow:  0 4px 2px -2px rgba(0, 0, 0, 0.2);
    }

    .hamburger {
      display: flex;
      cursor: pointer;
      font-size: var(--font-normal);
      background-color: var(--light-grey);
      color: var(--green);
      border: none;
      max-height: 3rem;
    }

    .hamburger-close {
      display: none;
    }

    .hamburger-close.active {
      display: flex;
    }

    .hamburger-open.active{
      display: none;
    }
}

@media only screen and (max-width: 550px) {

    /* Card and pagination */
    .card-img {
        max-width: 20rem;
    }

    .card-structure,
    .pagination,
    .shopping-list-structure {
        max-width: 30rem;
    }

    .card-time-text {
        padding: 1rem;
    }

    .btn-card {
        width: 30%;
    }
}

@media only screen and (max-width: 480px) {

    /* Card and pagination */
    .card-img {
        max-width: 20rem;
    }

    .card-structure,
    .pagination,
    .shopping-list-structure {
        max-width: 24rem;
    }

    .btn-card {
        width: 30%;
    }

    .card-time-text {
        padding: 0.5rem;
    }

    /* Forms */
    form.access {
        max-width: 20rem;
    }

    /* Preparation */
    .preparation-images {
        max-width: 20rem;
    }

    input ~ a {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 376px) {

    /* Card and pagination */
    .card-img {
        margin: 1rem auto;
        max-width: 15rem;
    }

    .card-structure,
    .pagination,
    .shopping-list-structure {
        max-width: 16rem;
    }

    .shopping-list-structure {
        max-width: 21rem;
    }

    .btn-shopping-list {
        width: 30%
    }

    .btn-card {
        width: 50%;
    }

    .card-time-text {
        padding: 0.5rem;
    }

    /* Search */
    .search-field {
        max-width: 8rem;
    }

    input ~ a {
        font-size: 0.4rem;
    }

    /* Preparation */
    .preparation-images {
        max-width: 15rem;
    }
}

@media only screen and (max-width: 350px) {

    /* Card and pagination */
    .card-img {
        max-width: 15rem;
    }

    .btn-card {
        width: 45%;
    }

    .card-structure,
    .pagination {
        max-width: 18rem;
    }

    .shopping-list-structure {
        max-width: 19rem;
        font-size: 0.9rem;
    }

    .card-time-text {
        padding: 0.5rem;
    }

    /* Search */
    .search-field {
        max-width: 6.2rem;
    }

    input ~ a {
        font-size: 0.5rem;
    }

    /* Form */
    form.access {
        max-width: 16rem;
    }
}

@media only screen and (max-width: 285px) {

    /* Card and pagination */
    .card-img {
        max-width: 12rem;
    }

    .card-structure,
    .pagination {
        max-width: 14rem;
    }
    .shopping-list-structure {
        max-width: 16rem;
        font-size: 0.7rem;
    }

    .card-time-text {
        padding: 0.5rem;
        font-size: 0.8rem;
    }

    .btn-card {
        width: 60%;
    }

    /* Form */
    form.access {
        max-width: 15rem;
    }

    /* Search */
    .search-field {
        max-width: 8rem;
    }

    /* Preparation */
    .preparation-images {
        max-width: 11rem;
    }

    input ~ a {
        font-size: 0.3rem;
    }
}
