/* 

INDEX

1. Reset
2. Color Palette
3. Fonts
4. Background
5. NavBar
6. Search

*/

/* 1. Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* 2. Color Palette */
:root {
    --black: #000000;
    --white: #ffffff;
    --light-grey: #D0D9CD;
    --grey: #B2BEB5;
    --green: #3E721D;
    --light-green: #A6D388;
    --light-green-1: #C6E5B3;
    --brown: #662113;
    --light-brown: #7C3225;

}

/* 3. Fonts */
:root {
    --font-family: 'Noto Sans';
    --font-large: 1.5rem;
    --font-normal: 1.1rem;
    --font-small: 1rem;
}

/* 4. Background */
body {
    color: var(--black);
    background-color: var(--white);
    font-family: var(--font-family), sans-serif;
    
}

/* 5. NavBar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    max-height: 3rem;
    padding: 0.5rem;
    background-color: var(--light-grey);
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.nav-item {
    padding: 0.5rem;
    margin: 0.5rem;
}

.nav-link {
    text-decoration: none;
    color: var(--green);
    font-weight: 700;
    font-size: var(--font-normal);
}

.navbar-img {
    max-width: 3rem ;
}

.nav-link:hover, .nav-link:focus {
    color: var(--black);
}

.hamburger {
    display: none;
}

.hamburger-name {
    color: transparent;
    font-size: 0;
    position: relative;
    z-index: -99;
}

/* For tablet and mobile */
@media only screen and (max-width: 1024px) {
  
    .nav-list {
      display: none;
      flex-direction: column;
      background-color: var(--light-grey);
      border-radius: 0 0 0.5em 0.5em;
      text-align: center;
      width: 100vw;
      z-index: 2;
    }
    
    .nav-list.active {
      display: flex;
      position: fixed;
      top: 2.3rem;
      left: 0;
    }
  
    .nav-item {
      padding: 1rem;
      margin: 0;
    }
   
    .hamburger {
      display: flex;
      cursor: pointer;
      font-size: var(--font-normal);
      background-color: var(--light-grey);
      color: var(--green);
      border: none;
      max-height: 3rem;
    }
  
    .hamburger-close {
      display: none;
    }
  
    .hamburger-close.active {
      display: flex;
    }
  
    .hamburger-open.active{
      display: none;
    }
}

/* 6. Search */

/* For small display */
@media only screen and (max-width: 370px) {
    .search-field {
        max-width: 10rem;
    }
}

/* For iPhone 5 display */
@media only screen and (max-width: 355px) {
    .search-field {
        max-width: 7.5rem;
    }
}
